<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="RentInApp" />
    <title>Rent In App</title>
    <link rel="icon" href="{% static 'accounts/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'accounts/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/new_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/properties_list.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <img id="logo" alt="freeCodeCamp" src="https://raw.githubusercontent.com/edwardalx/MyCapstoneProject/refs/heads/main/rent_in/tenant_images/house%20logo.jpg">
      <h1>🏠<a href="{% url 'home' %}">RentIn</a></h1>
      <nav class="navbar">
        <ul class="nav-links" id="nav-links">
          <!-- Filled by JS -->
        </ul>
      </nav>
    </header>

    <main>
      <header class="header">
        <h1>LIST OF PROPERTIES</h1>
      </header>
      {% block content %}{% endblock %}
        <div class="gallery">
       {% for property in properties %}
      <div class="property-card"
           data-id="{{ property.id }}"
           data-name="{{ property.name|escapejs }}"
           onclick="selectPropertyFromElement(this)">
           
        <img src="{{ property.image_url }}" alt="{{ property.name }}">
        
        <h3>{{ property.name }}</h3>
        <p>{{ property.location }}</p>
      </div>
    {% endfor %}
  </div>
    </main>

    <footer>
      <address>
        <a href="https://freecodecamp.org">EdwardProperties_V_1.00</a><br />
        Offinso<br />
        Ashanti<br />
        Ghana
      </address>
    </footer>
<script>
  const selectUnitBaseUrl = "{% url 'select_unit' 0 %}";
</script>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/properties_list.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
